.about-section{
    font-family: "Poppins", sans-serif;
    padding: 40px 100px;
    flex: 1;
    width: 100%;
}

.about-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #01634f;
    text-align: left;
  }

  .about-description {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .left-section{
    width: 50%;
    display: flex;
    padding: 20px;
    text-align: left;
  }

  .right-section {
    width: 50%;
    display: flex;
    padding: 20px;
    text-align: right;
  }

  .about-img {
    width: 100%;
  }

  .about-inner-section{
    display: flex;
  }