.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: #01634f; */
    background: linear-gradient(to right, #27ae60, #2c3e50);

    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
    border: none;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.whatsapp-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    background-color: #04342b;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 600px) {
    .whatsapp-button {
        bottom: 15px;
        right: 15px;
        font-size: 14px;
        padding: 10px 15px;
    }

    .whatsapp-button img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 860px) {
    .special-page {
        bottom: 55px !important;
        transition: bottom 0.3s ease-in-out;
    }
}
